extends ../../layouts/default.pug

block main 
  .container-fluid.mt-5.pt-5
    .row.justify-content-center
      .col-md-8
        .card.shadow-sm
          .card-body
            h2.text-center.mb-4 Giới thiệu về ShopKiên
            p.text-justify
              | ShopKiên là nền tảng thương mại điện tử hiện đại, cung cấp đa dạng sản phẩm từ điện tử, thời trang đến gia dụng. Với sứ mệnh mang đến trải nghiệm mua sắm tiện lợi, an toàn và tiết kiệm, chúng tôi không ngừng cải tiến để phục vụ khách hàng tốt nhất.
            p.text-justify
              | Được thành lập bởi nhóm sinh viên đam mê công nghệ và kinh doanh, ShopKiên hướng đến việc xây dựng một cộng đồng mua sắm thông minh, nơi mọi người có thể tìm thấy sản phẩm chất lượng với giá hợp lý.
            p.text-justify
              | Chúng tôi cam kết:
            ul
              li Giao hàng nhanh chóng toàn quốc
              li Hỗ trợ khách hàng 24/7
              li Chính sách đổi trả minh bạch
              li Ưu đãi hấp dẫn mỗi tuần

            .text-center.mt-4
              a.btn.btn-outline-primary(href="/products") Khám phá sản phẩm
              a.btn.btn-outline-success.ml-2(href="/contact") Liên hệ với chúng tôi