mixin box-head(title)
    h2(style=`text-align: center; 
    color: #a29bfe; 
    font-size: 2.5rem; 
    font-weight: bold; 
    letter-spacing: 2px; 
    text-shadow: 0 0 8px #74b9ff, 0 0 16px #81ecec;
    margin: 90px 0 20px 0;
    `) #{title}
