/* Dropdown submenu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    display: none;
    position: absolute;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

/* chi tiết sản phẩm */

.text-primary {
    color: #007bff;
}

.badge-warning {
    font-size: 1rem;
    padding: 0.5em;
}

.custom-toggle-btn {
    text-decoration: none !important;
    /* Loại bỏ gạch chân */
    color: #6c757d;
    /* Màu xám mặc định (Bootstrap text-secondary) */
    font-weight: 500;
    transition: color 0.2s ease;
}

.custom-toggle-btn:hover {
    color: #343a40;
    /* Màu xám đậm hơn khi hover */
    font-weight: 600;
}


/* cart */
.table td,
.table th {
    vertical-align: middle;
}

.img-thumbnail {
    border-radius: 8px;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.quantity-input {
    max-width: 60px;
    padding: 4px 6px;
    font-size: 0.85rem;
}