footer.bg-dark.text-white.mt-5.py-4
  .container.text-center
    p.mb-3 &copy; 2025 ShopKiên. All rights reserved.

    // Các nút liên hệ
    .d-flex.justify-content-center.flex-wrap
      a.btn.btn-outline-light.btn-sm.mx-2.mb-2(href="/about")
        i.fas.fa-info-circle.mr-1
        | Giới thiệu
      a.btn.btn-outline-light.btn-sm.mx-2.mb-2(href="/contact")
        i.fas.fa-phone-alt.mr-1
        | Liên hệ
      a.btn.btn-outline-light.btn-sm.mx-2.mb-2(href="mailto:hotro@shopkien.vn")
        i.fas.fa-envelope.mr-1
        | Email
      a.btn.btn-outline-light.btn-sm.mx-2.mb-2(href="https://facebook.com/shopkien", target="_blank")
        i.fab.fa-facebook.mr-1
        | Facebook

    p.mt-3.small
      | Địa chỉ: Quang Trung, Hưng Yên • Hotline: 09xx xxx xxx