nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.header-space
  .container
    a.navbar-brand(href="#") 
        <i class="fa-solid fa-shop"> TKienShop </i>
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav")
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="/") Trang chủ
        li.nav-item
          a.nav-link(href="/products") Sản phẩm