mixin sort()
    select(name="sortOption" class='form-control')
            option(value="position-asc") Theo vị trí tăng dần
            option(value="position-desc") Theo vị trí giảm dần
            option(value="price-asc") Theo giá tăng dần
            option(value="price-desc") Theo giá giảm dần
            option(value="name-asc") Theo tên từ A → Z
            option(value="name-desc") Theo tên từ Z → A