doctype html
html(lang="vi")
  head
    title Đăng nhập
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/admin/auth/css/style.css")
    link(rel="stylesheet", href="/admin/css/notification.css")
  body
    block main

    <script src="/admin/js/notification.js"></script>