extends ../../layouts/default.pug
include ../../mixins/notification.pug

block main  
    + notification(messages, 5000)
    .card.mb-3
        .card-header
            h4 Thêm nhóm phân quyền
        .card-body
            form(action=`${prefixAdmin}/permissions-group/create` method='POST' id='form-creatr-product')
                div(class='form-group')
                    label(for='title') tên nhóm
                    input(type='text' name='title' id='title' class='form-control')         
                div(class='form-group')
                    label(for='desc') Mô tả 
                    textarea(name='description' id='textarea-tinyMCE' class='form-control' rows='5')
                div(class='form-group form-check form-check-inline')
                    input(type='radio' name='status' id='statusActive' class='form-check-input' value='active' checked) 
                    lable(for='statusActive' class='form-check-lable') Hoạt động
                div(class='form-group form-check form-check-inline')
                    input(type='radio' name='status' id='statusInactive' class='form-check-input' value='inactive') 
                    lable(for='statusInactive' class='form-check-lable') Dừng hoạt động
                button(type="submit" class='btn btn-primary d-block') Thêm mới 
    <script src="/admin/js/eventProduct.js"></script>
