extends ../../layouts/default.pug

block main
  div(class='mt-5')
    .d-flex.justify-content-center.align-items-start.min-vh-100.pt-5.bg-light
      .col-md-5.mt-5
        .card.shadow-lg.border-0
          .card-header.bg-primary.text-white.text-center
            h4.mb-0 Đăng nhập
          .card-body.p-4
            form(action="/user/forgot-password/otp" method="POST")
              .form-group
                label(for="Email") 
                  i.fas.fa-envelope.mr-2
                  | email
                input#email.form-control.rounded-pill(type="text" name="email" placeholder="Nhập email" required)
              button.btn.btn-primary.btn-block.rounded-pill.mt-3(type="submit") Xác Nhận
            .text-center.mt-5
              a(href="/user/login" class="text-primary font-weight-bold") Đăng nhập