extends ../../layouts/default.pug

block main
  .d-flex.justify-content-center.align-items-start.min-vh-100.pt-5.bg-light
    .col-md-5.mt-5
      .card.shadow-lg.border-0
        .card-header.bg-primary.text-white.text-center
          h4.mb-0 Đăng kí tài khoản
        .card-body.p-4
          form(action="/user/register" method="POST")
            .form-group
              label(for="fullname") 
                i.fas.fa-user.mr-2
                | Họ và Tên
              input#fullname.form-control.rounded-pill(type="text" name="fullname" placeholder="Nhập họ và tên" required)
            .form-group
              label(for="email") 
                i.fas.fa-envelope.mr-2
                | Email
              input#email.form-control.rounded-pill(type="text" name="email" placeholder="Nhập email" required)
            .form-group
              label(for="password") 
                i.fas.fa-lock.mr-2
                | Mật khẩu
              input#password.form-control.rounded-pill(type="password" name="password" placeholder="Nhập mật khẩu" required)
            button.btn.btn-primary.btn-block.rounded-pill.mt-3(type="submit") Đăng ký

          .text-center.mt-5
            a(href="/user/forgot-password" class="text-secondary mr-3") Quên mật khẩu?
            a(href="/user/login" class="text-primary font-weight-bold") Đăng nhập ngay